body {
  margin: 0;
  background-image: url("https://images.pexels.com/photos/185764/pexels-photo-185764.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
}

.container {
  margin: 0 auto;
  padding-top: 5vh;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.container ul {
  list-style-type: none;
}

.formtoline {
  text-align: center;
  display: block;
} 

h2 {
  margin: 20px;
}

p, h4, h5 {
  text-overflow: ellipsis;
}

tr {
  padding-bottom: 400px;
}