body {
  margin: 0;
}

.banner {
  background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-position: 70% 50%;
  margin-top: 0;
  height: 30vh;
  min-height: 150px;
  padding: 5vh;
  width: 100%;
  color: #fff;
}

.bckgrnd {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  padding: 15px;
  position: fixed;
  left: 0;
  width: 100%;
}

.container {
  margin: 3vh auto;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 15px auto;
  padding: 5vh;
  min-height: 60vh;
}

.container ul {
  list-style-type: none;
}

.formtoline {
  text-align: center;
  display: block;
} 

h2 {
  margin-bottom: 20px;
}

p, h4, h5 {
  text-overflow: ellipsis;
}

td { 
  border-bottom: 1px solid #fff; 
  margin-bottom: 5px;
}

tr {
  margin-bottom: 30px;
}

img {
  max-width: 128px;
}